<div class="mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" class="form-control" id="search-input" placeholder="Enter here" name="q">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>